.btn{
    font-weight: 600;
    background-color: #FC635B;
    color:white;
}

.btn:hover{
color: white;
background-color: #dd554e;
}

a {
    color: #dd554e;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color:#dd554e;
    text-decoration: underline;
}
