.row-current-user{
  background-color: #FC635B;
  color: white;
  font-weight: 700;
}

tr {
  height:8vh; //if you change please adapte sticky position of rank0 and rank1 !!
  background-color: $light-gray;
}

.leaderboard-head {
  position: sticky;
  top: -1px;
}

.rank0  {
  position: sticky;
  top: calc(8vh - 2px);

}
.rank1  {
  position: sticky;
  top: 16vh;

}

//th:after are to design lines between the sticky elements and the rest of the table

.leaderboard-head th::after{
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: lightgray;
}

.rank1 th::after{
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: lightgray;
}
