.main{
  text-align: center;
  overflow: scroll;
  margin-bottom: 0px;
  min-height: 90vh;
}

.main-single{
  text-align: center;
  margin-bottom: 0px;
  height: 90vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
