.playground-box {
  width: 80vw;
  margin: 0 auto 5vh auto;
  padding: 5vw;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5vw;
}

.podium-step-box > a{
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
