.title-mission h2 {
  text-align: center;
}

.icon-description{
  display:block;
  margin:0 auto;
  font-size:38px;
  padding: 15px;
  color: #b9b5b5;
}
.text-mission{
  padding: 0 10px;
  line-height: 32px;
  text-align: center;
  margin-top:50px;
}
