.mission-icon-box {
  width: 80vw;
  margin: 5vw auto;
  padding: 5vw;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5vw;
}

.title-mission h2 {
  text-align: center;
}

.icon-description{
  display:block;
  margin:0 auto;
  font-size:38px;
  padding: 15px;
  color: #b9b5b5;
}
.text-mission{
  padding: 0 10px;
  line-height: 3vh;
  text-align: center;
  margin-top:10px;
}
