.wrapper-challenge-show {
  min-height: calc(100vh - 83px);
  width: 100%;
}

.logo-map {
  width:75px;
  height: 75px;
  background-color: #EE5D4F;
}

.box-avatar-challenge {
  display: flex;
  justify-content: center;
}

.box-avatar-challenge > a > img {
  width: 80px;
}

.text-map {
  text-align: center;
  p{
    margin-bottom:0;
  }
}

.text-map > h2 {
  font-size: 1.2em;
}

// .icon-challenge {
//   position: absolute;
//   height: 70px;
//   width: 70px;
//   top: 70px;
//   left: 50%;
//   transform: translateX(-50%);
// }

.h2-challenge {
  font-size: 3vh;
}

/*.button-validate {
  background-color: orangered;
  color: rgb(54, 53, 53);
  padding: 8px 0;
  border: none;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  margin: 0 40px;
}*/

.list-item {
  display: flex;
  align-items: center;

}

.list-item > span {
  font-size: 14px;
  padding: 10px;
}

.fa-unlock-alt, .fa-lock {
  font-size: 20px;
  color: white;
}

.fa-lock{
  font-size:20px;
  color: #FC635B;
}
.show-table-custom{
  width: 100%;
    padding: 0px 10px 25px 10px;
    border-collapse: separate;
    border-spacing: 0 16px;
    text-align: center;

}
.text-clue{
    color: white;
    font-size: 18px;
}

.fade-in-right{
  animation-duration: 1.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 100%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}
.row-show{
  padding: 20px 0px;
}

.button-buzzer{
    opacity: 0.7;
    bottom: 2vw;
    right: 2vw;
    padding: 0.5vw 1.5vw;
}

.list-clues{
  padding:0!important;
  list-style:none;
}
.row-show-locked{
background: #dfdfdf;
margin:10px 20px 10px 20px;
padding:7px 5px;
opacity:0.5;
/*box-shadow: 5px 5px 10px #dfdfdf;
border-radius: 10px;*/
  i{
    color:#F4A240;
  }
}

/*.row-show-unlocked{
margin:12px 20px 12px 20px;
padding:7px 5px;
border:3px solid #FC635B;
box-shadow: 0px 5px 5px #818080;
border-radius: 15px;
p, i{
color:#FC635B;
}
list-style:none;
}*/


.row-show-unlocked{
  text-align:left;
  font-size:16px;
  background:white;
  opacity:1;
  margin:5px 20px 5px 20px;
  padding:10px 5px;
  /*border-radius: 10px;*/
  box-shadow: 5px 5px 5px #e7e7e7;
  p{
    color:#000000;
  }

  i{
    color:#F4A240;
  }
}



.show-box{
    width:100%;
}

.clue-text{
  display:inline-block;
  text-align:center;
}

.text-clue{
  margin-bottom:0px;
}

.wrapper-challenge-show{
  .btn-mission{
    display:inline-block;
    width:90%;
    background:#FC635B;
    padding:8px 10px;
    border-radius:10px;
    margin:0 auto;
    border:0;
    font-size:20px;
    margin-top:10px;
    /*animation: push 2s;
    animation-iteration-count: infinite;*/
  }

  @keyframes push {
        from {
          background:#FC635B;
        }

        to {
          background:#FF8C86;
        }
}
}

$fuschia: #FC635B;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;

.bubbly-button{
display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg;
  color: $button-text-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);

  &:focus {
    outline: 0;
  }

  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  &:before{
    display: none;
    top: -75%;
    background-image:
      radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }

  &:after{
    display: none;
    bottom: -75%;
    background-image:
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }

  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
