











// Test 1 -----------------------------------------

// .container-challenge-show {
//   display: flex;
//   flex-direction: column;
//   margin-left: 1vh;
//   margin-right: 1vh;
//   margin-bottom: 17vh;
// }

// .part-top, .part-bottom {
//   display: block;
//   flex-direction: column;
//   width: 100%;
//   margin: 3vh 0;
// }

// .part-bottom h3 {
//   text-align: center;
// }

// .part-top h2, .part-bottom h2 {
//   background-color: #FC635B;
//   margin: 2vh auto;
//   padding: 4vh 0;
//   font-size: 3vh;
//   font-weight: bold;
//   text-align: center;
// }

// .questions-list li, .clues-list li {
//   list-style-type: none;
//   width: 100%;
//   justify-content: left;
//   padding: 4vh 0;
//   margin: 2vh 0;
//   font-size: 2.5vh;
//   padding-left: 30px;
// }

// .questions-list li {
//   background-color: #EDF9E4;
// }

// .clues-list li {
//   background-color: #EDF9E4;
// }

// .clues-list li:last-child {
//    background-color: #F9E5E4;
// }

// .questions-list, .clues-list {
//   width: 70%;
//   margin: 0 auto;
// }

// .clues-list p {
//   text-align: center;
// }


// @media screen and (max-width: 450px) {

//   .container-challenge-show {
//   margin-left: 0.2vh;
//   margin-right: 0.2vh;
//   margin-bottom: 10vh;
// }

//   .part-top h2, .part-bottom h2 {
//   margin: 1vh auto;
//   padding: 2vh 0;
//   font-size: 2vh;
// }

// .questions-list li, .clues-list li {
//   padding: 2vh 0;
//   margin: 1vh 0;
//   font-size: 1.5vh;
//   padding-left: 10px;

// }
// }
