.wrapper-challenge-show {
  min-height: calc(100vh - 83px);
  width: 100%;
}

.logo-map {
  width:75px;
  height: 75px;
  background-color: #EE5D4F;
}

.box-avatar-challenge {
  display: flex;
  justify-content: center;
}

.box-avatar-challenge > a > img {
  width: 80px;
}

.text-map {
  text-align: center;
}

.text-map > h2 {
  font-size: 1.2em;
}

// .icon-challenge {
//   position: absolute;
//   height: 70px;
//   width: 70px;
//   top: 70px;
//   left: 50%;
//   transform: translateX(-50%);
// }

.h2-challenge {
  font-size: 3vh;
}

.button-validate {
  background-color: orangered;
  color: rgb(54, 53, 53);
  padding: 8px 0;
  border: none;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  margin: 0 40px;
}

.list-item {
  display: flex;
  align-items: center;

}

.list-item > span {
  font-size: 14px;
  padding: 10px;
}

.fa-unlock-alt, .fa-lock {
  font-size: 20px;
  color: orange;
}
.show-table-custom{
  width: 100%;
    padding: 25px 10px;
    border-collapse: separate;
    border-spacing: 0 16px;
    text-align: center;

}
.row-show{

padding: 20px 0px;
}
.row-show-unlocked th {
border-top-left-radius: 22px;
border-bottom-left-radius: 22px;
background-color:#FC635B;

}
.row-show-locked th {
border-top-left-radius: 22px;
border-bottom-left-radius: 22px;
background-color:gray;

}

.row-show td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;

}
.button-buzzer{
    opacity: 0.7;
    bottom: 2vw;
    right: 2vw;
    padding: 0.5vw 1.5vw;
}
.row-show-locked td {
  color: white;
}
.row-show-unlocked td {
  color: white;
}



.show-box{

    width: 95vw;
    margin: 5vw auto;

    border-radius: 5vw;
}
