.wrapper-challenge-show {
  width: 100%;
}

.header-challenge-show {
  background-color: thistle;
  width:100%;
  height:15%;
  border-bottom-left-radius: 70% 15%;
  border-bottom-right-radius: 70% 15%;
}

.box-avatar-challenge {
  display: flex;
  justify-content: center;
}

.box-avatar-challenge > a > img {
  width: 80px;
}

.icon-challenge {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.h2-challenge {
  font-size: 3vh;
}

.button-validate {
  background-color: orangered;
  color: rgb(54, 53, 53);
  padding: 8px 0;
  border: none;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  margin: 0 40px;
}

.wrapper-challenge-show {
  min-height: calc(100vh - 83px);
}
.list-item {
  display: flex;
  align-items: center;
}

.list-item > span {
  font-size: 10px;
}

.fa-unlock-alt, .fa-lock {
  font-size: 20px;
  color: orange;
}
