  <!--<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>-->
<% if alert %>

  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    e-mail ou mot de passe, invalide.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if flash[:false] %>
  <div class="alert alert-warning alert-dismissible fade show m-1 alert-flash" role="alert">
    <p> Dommage, ce n'est pas la bonne réponse! Veuillez réessayer. </p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if flash[:true] %>
  <div class="alert alert-warning alert-dismissible fade show m-1 notice-flash" role="alert">
    <%= flash[:true] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if flash[:falsy] %>
  <div class="alert alert-warning alert-dismissible fade show m-1 alert-flash" role="alert">
    <%= flash[:falsy] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
