  <!--<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>-->
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    e-mail ou mot de passe, invalide.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if flash[:false] %>
  <div class="alert alert-warning alert-dismissible fade show m-1 alert-flash" role="alert">
    <p> Dommage, ce n'est pas la bonne réponse! Veuillez réessayer. </p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if flash[:true] %>
  <div class="alert alert-warning alert-dismissible fade show m-1 notice-flash" role="alert">
    <%= flash[:true] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if flash[:falsy] %>
  <div class="alert alert-warning alert-dismissible fade show m-1 alert-flash" role="alert">
    <%= flash[:falsy] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>


<% if flash[:bad_answer] %>
  <%# <div class="flash-answer bad-answer alert-dismissible" role="alert">
    <div id="error-box">
      <div class="face2">
        <div class="eye"></div>
        <div class="eye right"></div>
        <div class="mouth sad"></div>
      </div>
      <div class="shadow move"></div>
      <div class="message-custom"><h1 class="alert-custom">Oh non !</h1><p>Ce n'est pas la bonne réponse !</div>
      <button class="button-box" data-dismiss="flash-answer" aria-label="Close">
        <h2 class="red-custom" aria-hidden="true">Fermer</h2>
      </button>
    </div>
  </div> %>
  <div class="alert fade show flash-answer" role="alert">
    <div id="error-box">
      <div class="lotti-custom">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_slGFhN.json"  background="transparent"  speed="1"  style="width: 25vw; height: 25vw;"  loop  autoplay></lottie-player>
      </div>
      <div class="message-custom"><h1 class="alert-custom">Oh non !</h1><p>Ce n'est pas la bonne réponse !</div>
      <div class="button-container">
        <button type="button" class="button-box" data-dismiss="alert" aria-label="Close">
          <h2 class="red-custom" aria-hidden="true">Fermer</h2>
        </button>
      </div>
    </div>
  </div>
<% end %>

<% if flash[:good_answer] %>
  <div class="flash-answer good-answer" role="alert">
    <div id="success-box">
      <div class="face">
        <div class="eye"></div>
        <div class="eye right"></div>
        <div class="mouth happy"></div>
      </div>
      <div class="shadow scale"></div>
      <div class="message-custom"><h1 class="alert-custom">Success!</h1><p>yay, everything is working.</p></div>
      <button class="button-box"><h2 class="green-custom">continue</h2></button>
    </div>
  </div>
<% end %>
