<div class="mobile-navbar">

    <div class="navbar-bottom">

      <div class="item-nav<%= current_page?('/') ? " active" : "" %>">
        <a href="/" class="link-nav">
            <i class="fas fa-home icon-nav-bottom"></i>
            <p>Accueil</p>
        </a>
      </div>

      <hr class="vertical-line">

      <div class="item-nav<%= request.fullpath.start_with?('/missions') ? " active" : "" %>">
        <a href="/missions" class="link-nav">
          <i class="fas fa-gamepad icon-nav-bottom"></i>
          <p>Missions</p>
        </a>
      </div>

      <hr class="vertical-line">

      <div class="item-nav <%= request.fullpath.start_with?('/map') ? " active" : "" %>">
        <a href="/map_all_challenges" class="link-nav">
          <i class="fas fa-map-signs icon-nav-bottom"></i>
          <p>Carte</p>
        </a>
      </div>

      <hr class="vertical-line">

      <div class="item-nav<%= current_page?('/users') ? " active" : "" %>">
        <a href="/users" class="link-nav">
            <i class="fas fa-trophy icon-nav-bottom"></i>
            <p>Scores</p>
        </a>
      </div>

    </div>
</div>
