<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mobile-navbar">

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <%= link_to "Accueil", "/missions", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Missions", "/missions", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Carte", "/missions", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Scores", "/missions", class: "nav-link" %>
        </li>
    </ul>
  </div>
</div>
