.background-img, .text {
  border-radius: 10px;
}

.background-img {
  background-image: url("treasur-map.jpg");
  height: 87vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  background-color: rgba(200, 200, 200, 0.8);
  border: 2px solid black;
  height: 87vh;
}
