.background-img, .text {
  border-radius: 10px;
}

.background-img {
  background-image:  url("treasur-map.jpg");
  height: 87vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba($color: #ffe600, $alpha: 0.2);
}

.text {
  background-color: rgba(200, 200, 200, 0.8);
  border: 2px solid black;
  height: 87vh;
  width: 100%;
  font-size: 1em;
}

.text  h1 {
  color:#FC635b;
  text-shadow: 1px 1px 2px black;
  font-weight: 900;
  font-size: 3em;
}

.text h2 {
  text-decoration: underline;
}

.regle {
  width: 90%;
}

.icon {
  padding: 5px;
  margin-right: 5px;
  font-size: 20px;
  color: #FC635b;
  border-radius: 50%;
  background-color: rgba(250,250,250,0.8);
  border: 1px solid black;
}
