<div class="background-img d-flex align-items-center">
  <div class="text p-2 px-3">
    <h1 class="justify-content-center">Treasurmapp</h1>
    <p class="text-center">Avec Treasurmapp vous allez vous instruire, voyager et le tout, tout en vous amusant !!!!</p>
    <p class="text-center">En mode compétition vous devrez gagnez le plus de points possible pour pouvoir faire partis des meilleures joueurs et ainsi gagné différent prix.</p>
    <h2 class="text-center">Règles du jeu</h2>
    <ol class="d-flex flex-column">
      <li class="mt-1">Choisir une mission et accéder à son tableau de bord.</li>
      <li class="mt-1">Ouvrir la map pour se rendre là où se trouvent les questions.</li>
      <li class="mt-1">Répondre aux questions pour débloquer les indices qui servent à définir le lien secret</li>
      <li class="mt-1">Se rendre au lieu secret et valider la mission en appuyant sur le bouton</li>
    </ol>
    <div class="text-center">
      <%= link_to missions_path do %>
        <button class="button-tuto-m p-2 px-5 bd-highlight font-weight-bold">Jouer</button>
      <% end %>
    </div>
  </div>
</div>















<!--
<div class="background-img d-flex align-items-center">
  <div class="text p-2 px-4">
    <h1 class="justify-content-center">Treasurmapp</h1>
    <p>Avec Treasurmapp vous allez vous instruire, voyager et le tout, tout en vous amusant !!!!</p>
    <p>En mode compétition vous devrez gagnez le plus de points possible pour pouvoir faire partis des meilleures joueurs et ainsi gagné différent prix.</p>
    <p>Comment ce passe le jeux ?</p>
    <p>Le but du jeux sera de répondre à des questions qui vous feront gagner des points mais qui vous débloqueront aussi des indices qui vous aideront à découvrir le lieu secret.</p>
    <%# <p>Une fois logé vous serai automatiquement diriger sur votre playground.
    De là vous aurez plusieurs choix à disposition:</p>
    <ul class="mt-3">
      <li>Voir votre classement</li>
      <li>La liste de vos missions inachevé que vous pouvez reprendre</li>
      <li>Vos missions terminés</li>
      <li>Un menu pour naviguer plus rapidement</li>
    </ul> %>
    <div>
      <%= link_to tuto_playground_path do %>
        <i class="fas fa-chevron-right"></i>
      <% end %>
    </div>
  </div>
</div>
-->
