<div class="background-img d-flex align-items-center">
  <div class="text p-3">
    <h1 class="justify-content-center">Treasurmapp</h1>
    <p>Avec Treasurmapp vous allez vous instruire, voyager et le tout, tout en vous amusant !!!!</p>
    <p>En mode compétition vous devrez gagnez le plus de points possible pour pouvoir faire partis des meilleures joueurs et ainsi gagné différent prix.</p>
    <p>Comment ce passe le jeux ?</p>
    <p>Une fois logé vous serai automatiquement diriger sur votre playground.
    De là vous aurez plusieurs choix à disposition:</p>
    <ul class="mt-3">
      <li>Voir votre classement</li>
      <li>La liste de vos missions inachevé que vous pouvez reprendre</li>
      <li>Vos missions terminés</li>
      <li>Un menu pour naviguer plus rapidement</li>
    </ul>
    <i class="fas fa-chevron-right"></i>
  </div>
</div>
