<h2>Menu</h2>
<p>Le menu en bas de la page vous facilitera la navigation des différentes pages.</p>
<img src="https://res.cloudinary.com/dg2an4buq/image/upload/v1638788061/menu_fpq2bq.png" alt="menu">
<h2>L'accueil</h2>
<img src="https://res.cloudinary.com/dg2an4buq/image/upload/v1638788061/accueil_njyvxt.png" alt="menu-accueil">
