<div class="d-flex align-items-center">
  <div class="p-3">
    <h1 class="justify-content-center">Treasurmapp</h1>
    <h2 class="text-center mt-2">Missions</h2>
    <i class="fas fa-chevron-left"></i>
    <i class="fas fa-chevron-right"></i>
  </div>
</div>
