<div class="background-img d-flex align-items-center">
  <div class="text p-2 px-4">
    <h1 class="justify-content-center mt-1">Treasurmapp</h1>
    <h2 class="text-center mt-1 mb-0">Playground</h2>
    <hr>
    <h3 class="text-center mt-1">Aperçu du classement</h3>
    <p>La première partie de votre page playground sera votre position au classement.</p>
    <p>Pour voir ou vous vous situé par rapport aux autre joueurs vous aurez juste à cliquez sur le bouton voir plus.</p>
    <hr>
    <h3 class="text-center mt-1">Missions inachevées</h3>
    <p>Cette partie du playground vous montrera toute les missions que vous aurez commencer mais pas fini.</p>
    <hr>
    <h3 class="text-center mt-1">Missions terminées</h3>
    <p>Et la dernière partie du playground vous affichera les 4 meilleures missions auquels vous avez effectué le plus de points.</p>
    <div class="chevron">
      <%= link_to tuto_description_treasurmapp_path do %>
        <i class="fas fa-chevron-left"></i>
      <% end %>
      <%= link_to tuto_menu_path do %>
        <i class="fas fa-chevron-right"></i>
      <% end %>
    </div>
  </div>
</div>















<%# <div class="d-flex align-items-center">
  <div class="p-3">
    <h1 class="justify-content-center">Treasurmapp</h1>
    <h2 class="text-center mt-2">Playground</h2>
    <hr>
    <h3 class="text-center mt-2">Aperçu du classement</h3>
    <div class="text-center">
      <img src="https://res.cloudinary.com/dg2an4buq/image/upload/v1638797157/Aperc%CC%A7u-classement_cgjj5t.png" alt="apercu-classement">
    </div>
    <ol class="mt-3">
      <li>Votre classement ainsi que les joueurs proche</li>
      <li>Votre emplacement</li>
      <li>Pour en voir plus sur le score globale des joueurs</li>
    </ol>
    <hr>
    <h3 class="text-center mt-2">Missions inachevées</h3>
    <div class="text-center">
      <img src="https://res.cloudinary.com/dg2an4buq/image/upload/v1638797157/Opera_Snapshot_2021-12-06_133007_localhost_1_uy57db.png" alt="missions-inacheve">
    </div>
    <ol class="mt-3">
      <li>Titre de la mission</li>
      <li>Lieu et difficulté de la mission</li>
      <li>Reprendre la mission qui est en cours</li>
      <li>Le pourcentage de la mission accomplie</li>
    </ol>
    <hr>
    <h3 class="text-center mt-2">Missions terminées</h3>
    <div class="text-center">
      <img src="https://res.cloudinary.com/dg2an4buq/image/upload/v1638797157/missions-accomplis_z2v8bp.png" alt="missions-terminees">
    </div>
    <p>Les 4 meilleures scores des missions accomplies</p>
    <div class="chevron">
      <i class="fas fa-chevron-left"></i>
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
</div> %>
