<div class="banner-back-border-red">
    <%= link_to "retour", root_path %>
</div>
<div id="map" style="width:100%; height: 100vh;"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      data-markers="<%= @markers.to_json %>">
</div>
