<div class="wrapper-challenge-show d-flex direction-row justify-content-center">
  <header class="header-challenge-show">
    <h2>Ouvrir la map</h2>
    <div class="icon-map"></div>
  </header>

  <div class="list-wrapper">
    <% @challenge.mission.clues.each do |clue| %>
      <div class="list-item"><%= clue.description %></div>
    <% end %>
  </div>

 <button>Valider lieux secret</button>
</div>






<!-------------------------------Test 1--------------------------------->
<!--<div class="container-challenge-show">
  <div class="part-top">
    <div class="questions-list">
      <h2>Accéder à la map</h2>
      <% @challenge.mission.questions.each do |question| %>
        <li><%= question.question %></li>
      <% end %>
    </div>
  </div>
  <div class="part-bottom">
    <h3>Indices récupérés </h3>
    <div class="clues-list">
      <% @challenge.mission.clues.each do |clue| %>
        <li><%= clue.description %></li>
      <% end %>
      <p>Quand vous pensez avoir trouvé la bonne localisation cliquez sur ce bouton afin de valider votre localisation</p>
      <h2>PUSHE ME (IF YOU CAN) !!</h2>
    </div>
  </div>
</div>-->
