.box-button{
  display: flex;
  justify-content: center;
}

.btn-red{
  font-weight: 400;
  background-color: #FC635B;
  text-align: center;
}

.btn-red > a {
  color: white;
}

.btn-border-red{
  font-weight: 200;
  color: #FC635B;
  border: 1px solid #FC635B;
  padding: 2px 5px;
}

.btn-border-white{
  font-weight: 200;
  color: white;
  border: 1px solid white;
  padding: 2px 5px;
}

.banner-button {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;

}

.banner-back {
  z-index: 1;
  position:absolute;
  top: 10px;
  left: 10px;
  font-weight: 200;
  a{
  color: white;
  }
  border: 1px solid white;
  padding: 2px 5px;

}

.banner-back-red {
  z-index: 1;
  position:absolute;
  top: 10px;
  left: 10px;
  font-weight: 200;
  a{
  color: white;
  }
  background-color:#FC635B;
  padding: 2px 5px;

}
