.item-flex h2{
  display: inline-block;
  color: white;
  margin-bottom: 0;
  height: 35vw;
  width: 35vw;
  font-size: 5vw;
  font-weight: 700;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 0.6);
  text-transform: uppercase;
  background-color: rgba($color: #000000, $alpha: 0.3);
}

.item-flex {
  background-color: black;
}
