.index-card {
  display: flex;
  width: 95vw;
  margin: 3px auto;
  height: 15vh;
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.index-photo{
  width: 15vh;
  height: 100%;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.index-card-infos {
  display: flex;
  flex-wrap: wrap;
  // padding: 4px 6px ;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  .btn-red {
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    padding: 0.5vw;
    a {
      font-size: 1em;
    }
  }
}

.index-card-infos-text {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: left;
  padding-left: 2vw;
  padding-top: 1vw;
  margin-bottom: 2vw;
}

.index-card-infos-score {
  width: 30%;
  color: #FC635B;
  font-weight: 500;
  font-size: 26px;
}

.index-card-infos h5 {
  margin: 3px;
}

.index-card-infos p {
  font-size: 14px;
  margin: 0;
}

.index-card-button {
  width: 25vw;
}
