.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.main-wrapper{
  margin-bottom: 13vh;
}


.mobile-navbar{
  background-color: white;
  text-align:center;
}

.navbar-light .navbar-nav  .active > .nav-link{
  color:#000000;
}


.navbar-bottom {
  background-color:#ffffff;
  box-shadow: 5px 10px 10px #e7e7e7;
  width: 100%;
  position: fixed;
  bottom:0;
  margin:0 auto;
  padding:8px 0;
  height: 10vh;

  li {
    display:inline-block;
    padding: 0px 10px 0px 10px;
    width: 23%;

  }

  .icon-nav-bottom{
    color: #FC635B;
    font-size:28px;
    margin: 0 auto;
  }

  .icon-nav-bottom:hover{
    color:#FF4D43;
  }

  li a{
    font-size:14px;
    color:#000000;
  }
}
