.playground-card {
  display: flex;
  width: 95vw;
  margin: 3px auto;
  height: 16vh;
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.playground-card-img {
  width: 15vh;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.playground-card-infos {
  display: flex;
  width: calc(100% - 15vh);
}

.playground-card-infos-text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin-bottom:3px;
  padding: 1vh 0 1vh 3px
}

.playground-right-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1vh 1vh  ;
  .btn-red {
    bottom: 2vw;
    right: 2vw;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    padding: 0.5vw 1.5vw;
    a {
      font-size: 4vw;
    }
  }
}

.playground-card-infos-score {
  color: #FC635B;
  font-weight: 500;
  font-size: 26px;
}

.playground-card-infos h5 {
  margin: 3px;
  font-size: 5vw;
}

.playground-card-infos p {
  font-size: 14px;
  margin: 0;
  font-size: 4vw;
}

.card-button {
  width: 30vw;
}

.done-mission {
  background-color: white;
  width: 95vw;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 3px auto;
}
