.container-flex {
  display: flex;
  margin: 0 auto;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  gap: 20px;
}

h1 {
  margin: 50px auto;
  font-size: 2.5rem;
  text-transform:uppercase;
  text-align: center;
}
