<h1>Missions#index</h1>

<div class="missions-container">
<% @missions.each do |mission|%>
  <div class="container-item">
    <%= image_tag mission.photo_url, alt: "Le Wagon", width: 200, class:'img-mission-list' %>
    <div class="mission-infos">
      <h2><%= mission.name %></h2>
      <p>Ville: CITY </p>
      <p>Difficulté: LEVEL</p>
      <div class="btn"><%= link_to 'Découvrir', mission_path(mission)%></div>
    </div>
  </div>
  <%end%>
</div>
