<h1>Missions#index</h1>
<div class="container-flex">
  <% @missions.each do |mission|%>
    <%= link_to mission_path(mission) do %>
      <div>
        <div class="item-flex" style="background-image: url('https://picsum.photos/300/200'); background-size: cover; object-fit: cover;">
          <h2><%= mission.name %></h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
